<!DOCTYPE html>{% load staticfiles %}
<html>
<head>
    <title>Komentor</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/journal.bootstrap.min.css' %}">

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="page-header">
    <h1><a href="/">Komentor</a></h1>
    <a href="/admin" class="sm">admin</a>
</div>
<div class="content container-fluid">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>