{% extends 'komentor/base.html' %}

{% block content %}
<div class="row"><div class="col-xs-12">
    <h1>Title: {{document.title}} (<a href="{{document.url}}" target="_blank">link</a>)</h1>
    {% for comment in comments %}
        <div class="comment col-xs-3 bg-info">
            <div class="row" style="width: 100%">
                <u class="text-left">@{{comment.author}}</u>
                <u class="text-right">{{comment.date_published}}</u>
            </div>
            <blockquote class="text-justify">{{comment.text}}</blockquote>
        </div>
    {% endfor %}
</div></div>
<div class="row"><div class="col-xs-4"
    <form action="{% url 'create_comment' document.url %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="author">Your name</label>
            <input class='form-control' type="text" name="author" id="author" required='required' value="guest"/>
        </div>
        <div class="form-group">
            <label for="text">Your comment</label>
            <textarea class='form-control' rows=4 name="text" id="text" required="required"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Send" />
    </form>
</div></div>
{% endblock %}